/results/checkpoints/checkpoint_epoch_0.pth
/results/checkpoints/checkpoint_epoch_1.pth
/results/checkpoints/checkpoint_epoch_2.pth
/results/checkpoints/checkpoint_epoch_50.pth
/results/checkpoints/checkpoint_epoch_80.pth
/results/checkpoints/checkpoint_epoch_95.pth
/results/checkpoints/checkpoint_epoch_99.pth